<!doctype html>
<html lang="en">
<head>
  <% if (prd === true) { %>
    <script>
  		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  		  ga('create', 'UA-105302880-1', 'auto');
  		  ga('require', 'GTM-KWP35W2');
  		  ga('send', 'pageview');
  		</script>
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us16.list-manage.com","uuid":"03351ad14a86e9637146ada2a","lid":"96ba00fd12","uniqueMethods":true}) })</script>
  		<style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
  {'GTM-KWP35W2':true});</script>

  		<!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MHNXT35');</script>
  <!-- End Google Tag Manager -->

  <% } %>
  <meta charset="utf-8">
  <title>The Bounties Network: Open Bounties & Freelance Jobs Online</title>



  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Find freelancers and bounty programs for any task paid in any token on Ethereum. Outsource the completion of any task from translations to social impact with a global freelance workforce.">

  <meta name="twitter:card" value="summary">
  <meta name="twitter:site" content="@ethbounties">
  <meta name="twitter:title" content="The Bounties Network: Open #Bounties & Freelance Jobs Online">
  <meta name="twitter:description" content="Find #freelancers and bounty programs for any task paid in ETH or ERC20 tokens. Outsource the completion of any task from translations to social impact with a global freelance workforce. #BugBounties #Blockchain">
  <meta name="twitter:creator" content="@ethbounties">
  <meta name="twitter:image:src" content="https://bounties.network/img/link-image_twitter.jpg">

  <meta property="og:title" content="The Bounties Network: Open #Bounties & Freelance Jobs Online" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://bounties.network/" />
  <meta property="og:image" content="https://bounties.network/img/link-image_fb.jpg" />
  <meta property="og:description" content="Find #freelancers and bounty programs for any task paid in ETH or ERC20 tokens. Outsource the completion of any task from translations to social impact with a global freelance workforce. #BugBounties #Blockchain" />

  <link rel="apple-touch-icon" sizes="180x180" href="./img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./img/favicons/favicon-16x16.png">
  <link rel="manifest" href="./img/favicons/site.webmanifest">
  <link rel="mask-icon" href="./img/favicons/safari-pinned-tab.svg" color="#5a29c6">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="./styles/index.css">
</head>
<body>

<% if (prd === true) { %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHNXT35"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>

<div id="top-menu-outer">
  <div class="page-container">
    <div id="top-links-row" class="row bottom-md middle-xs">
      <span class="col-xs-8">
        <a id="top-menu-logo" href="/">
          <img src="./img/header-logo.svg" alt="bounties.network">
        </a>
      </span>
      <label id="top-menu-toggler" for="top-menu-checkbox" class="col-xs-4">
        <div id="top-menu-hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </label>
      <div id="top-links-outer" class="col-xs-4">
        <input id="top-menu-checkbox" type="checkbox">
        <div id="top-menu-links" class="end-xs">
          <a href="#about" class="active">About</a>
          <a href="https://explorer.bounties.network" target="_blank">Explorer</a>
          <a href="https://join.slack.com/t/bountiesnetwork/shared_invite/enQtMzA2Mjk3MzAzODQwLTZjN2UxMmU5MWYxZTVmMmM4OGNjZDRiMDgwYTVhOTIwYmQ4MjVlMjNkZjYzOTE4MWI4OTFhOWE4ZTUzN2MyNWY" target="_blank">Community</a>
          <a href="https://medium.com/bounties-network" target="_blank">Blog</a>
          <a href="gettingStarted.html">Getting Started</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="intro">
  <img id="intro-mobile-top-left-hexagon"
    class="intro-floating-image"
    src="./img/intro/intro-mobile-top-left-hexagon.png"
    alt="">

  <img id="intro-mobile-top-left-purple-light"
    class="intro-floating-image"
    src="./img/intro/intro-top-left-purple-light.png"
    alt="">

  <img id="intro-mobile-bottom-left-bee"
    class="intro-floating-image"
    src="./img/bee-illustration.svg"
    alt="">

  <img id="intro-mobile-bottom-left-circle"
    class="intro-floating-image"
    src="./img/intro/intro-mobile-bottom-left-circle.png"
    alt="">

  <img id="intro-mobile-bottom-right-hexagons"
    class="intro-floating-image"
    src="./img/intro/intro-mobile-bottom-right-hexagons.png"
    alt="">

  <img id="intro-mobile-bottom-right-hexagon-bee"
    class="intro-floating-image"
    src="./img/intro/intro-mobile-bottom-right-hexagon-bee.png"
    alt="">



  <div class="page-container">
    <div class="row intro-container">
      <div id="intro-description" class="col-xs-12 col-sm-7 col-md-5">
        <h1>Changing the way we collaborate.</h1>
        <p>
          The Bounties Network empowers humans to incentivize and self-organize,
          from freelancing to grassroots social action, and anything in between.
          Whether it's for research, content translation, or video production,
          The Bounties Network lets you create projects, collaborate, and get
          paid for doing great work in any domain.
        </p>
        <a href="https://explorer.bounties.network" class="btn orange">
          Explore Bounties
        </a>
        <a class="btn white" href="https://join.slack.com/t/bountiesnetwork/shared_invite/enQtMzA2Mjk3MzAzODQwLTZjN2UxMmU5MWYxZTVmMmM4OGNjZDRiMDgwYTVhOTIwYmQ4MjVlMjNkZjYzOTE4MWI4OTFhOWE4ZTUzN2MyNWY">
          <img src="./img/social/slack.svg" alt="Join our Slack">Join our Slack
        </a>
      </div>
      <img id="intro-hexagons-right"
        src="./img/intro/intro-top-right-hexagons-bees.png"
        width="779"
        height="auto"
        alt="">
    </div>
  </div>
</div>

<div id="building-blocks">
  <div class="page-container">
    <div class="row">
      <div id="building-blocks-description" class="col-xs-12 col-sm-8 col-md-4">
        <h2>
          The Building Blocks of <span class="emphasis">Decentralized</span>
          P2P Economies
        </h2>
        <p>
          We're creating the components to power a new generation of human
          incentivization, stretching across borders and not limited by access
          to legacy financial institutions.
        </p>

        <p>
          Whether it's our work developing <a href="https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1081.md" target="_blank">interoperable smart contracts</a>
          for bounties on Ethereum or a <a href="https://staking.network" target="_blank">decentralized staking and arbitration
          solution</a>, we're laser focused on solving the core problems
          individuals face when collaborating and transacting with each
          other across the globe.
        </p>
      </div>

      <div id="building-blocks-points" class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-7 col-md-offset-1">
        <div class="bb-subsection2">

          <div class="bb-point-title">
            <div class="point-number">
              <img src="./img/building-blocks/point1.png" alt=".01 The Bounties Explorer">
            </div>

            <h3>The Bounties Explorer</h3>
          </div>

          <div class="bb-description-link">
            <p>
              Our Explorer gives you access to a global market of projects
              and talent. Easily create and fulfill tasks, and transact in
              any token on Ethereum with automated payments.
            </p>

            <a href="https://explorer.bounties.network" class="bb-mobile-link">
              Explore Bounties
            </a>

            <div class="bb-link-outer">
              <a href="https://explorer.bounties.network" class="watercolor-btn blue">
                <div class="link">Explore Bounties</div>
              </a>
            </div>
          </div>
        </div>

        <div class="bb-subsection2">

          <div class="bb-point-title">
            <div class="point-number">
              <img src="./img/building-blocks/point2.png" alt=".02 Delphi Arbitration">
            </div>

            <h3>Delphi Arbitration</h3>
          </div>

          <div class="bb-description-link">
            <p>
              Nurturing onchain trust by allowing users to deposit stakes
              and open claims in case trusted transactions don't go as
              planned. Our <a href="https://docs.google.com/document/d/1BWWC__-Kmso9b7yCI_R7ysoGFIT9D_sfjH3axQsmB6E/edit" target="_blank">Token Curated Registry</a>
              of arbiters lets anyone in the world apply to evaluate and rule on these claims to
              ensure impartial and fair outcomes.
            </p>

            <a href="https://staking.network" class="bb-mobile-link">
              Read More
            </a>

            <div class="bb-link-outer">
              <a href="https://staking.network" class="watercolor-btn red">
                <div class="link">Read More</div>
              </a>
            </div>
          </div>
        </div>

        <div class="bb-subsection2">

          <div class="bb-point-title">
            <div class="point-number">
              <img src="./img/building-blocks/point3.png" alt=".03 Bounties API & Components">
            </div>

            <h3>Bounties API & Components</h3>
          </div>

          <div class="bb-description-link">
            <p>
              We want to make it as easy as possible for you to launch new
              marketplaces and build the next gig economy. Build your very
              own bounty network by using our open source smart contracts,
              Bounties API, and React UI components.
            </p>

            <a href="https://github.com/Bounties-Network/BountiesAPI" class="bb-mobile-link">
              Get Started
            </a>

            <div class="bb-link-outer">
              <a href="https://github.com/Bounties-Network/BountiesAPI" class="watercolor-btn purple">
                <div class="link">Get Started</div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="benefits">
  <div class="page-container">
    <div class="row">
      <div class="col-xs center-xs">
        <h2>Benefits of the<br>bounties network</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 benefit-section">
        <div class="benefits-img">

          <img src="./img/benefits/scale.png" alt="Scale of justice" width="248"
          height="auto">
        </div>
        <div class="benefits-title">
          <h3>A Commitment to Fairness</h3>
        </div>
        <div class="benefits-description">
          <p>
            We care deeply about both bounty issuers and fulfillers,
            and strive to balance power inequalities that sometimes arise
            on existing freelance marketplaces.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 benefit-section">
        <div class="benefits-img">
          <img src="./img/benefits/globe.png" alt="global talent" width="280"
          height="auto">
        </div>
        <div class="benefits-title">
          <h3>A Global Pool of Talent</h3>
        </div>
        <div class="benefits-description">
          <p>
            Members of our community are located on all 6 major continents,
            come from all backgrounds and speak a multitude of languages.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 benefit-section">
        <div class="benefits-img">
          <img src="./img/benefits/tokens.png" alt="any token on Ethereum" width="225"
          height="auto">
        </div>
        <div class="benefits-title">
          <h3>Token Agnostic</h3>
        </div>
        <div class="benefits-description">
          <p>
            We let you issue bounties in whichever token you please, as long
            as its on Ethereum. This lets teams align the interests of their
            freelancers with those of the organization.
          </p>
        </div>
      </div>
    </div>
    <div class="video-wrapper">
      <div id="benefits-video-outer">
        <iframe id="benefits-video-inner"
          src="https://www.youtube.com/embed/yLzivoy4MqU"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>

 <div id="partnerships">
  <div class="page-container">
    <div id="partnerships-title" class="row">
      <div class="center-xs col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <h2>Partnerships & media</h2>
        <p>
          We work hard to cultivate meaningful relationships with
          orgnizations across the globe, whose values and goals
          align with ours.
        </p>
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1 center-xs">
        <button id="partnerships-organizations-prev"
          class="partnerships-arrow-left">
          &lsaquo;
        </button>
      </div>
      <div class="col-xs-10">
        <div id="partnerships-organizations-carousel" class="carousel-outer">
          <% partners.forEach(function(item) { %>
            <div class="carousel-item carousel-organization-item">
              <a href="<%=item.websiteUrl%>" target="_blank">
                <img class="carousel-organization-img"
                  src="<%=item.imageUrl%>"
                  alt="<%=item.title%>">
              </a>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="col-xs-1 center-xs">
        <button id="partnerships-organizations-next"
          class="partnerships-arrow-right">
          &rsaquo;
        </button>
      </div>
    </div>
    <div class="row middle-xs">
      <div class="col-xs-1 center-xs">
        <button id="partnerships-media-prev" class="partnerships-arrow-left">
          &lsaquo;
        </button>
      </div>
      <div class="col-xs-10">
        <div id="partnerships-media-carousel" class="carousel-outer">
          <% media.forEach(function(item) { %>
            <div class="carousel-item carousel-media-item">
              <a href="<%=item.websiteUrl%>">
                <div class="carousel-media-heading">
                  <img class="carousel-media-icon" src="<%=item.iconUrl%>" alt="">
                  <div class="carousel-media-link"><%=item.title%></div>
                </div>
                <img class="carousel-media-img" src="<%=item.imageUrl%>" alt="<%=item.title%>">
              </a>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="col-xs-1 center-xs">
        <button id="partnerships-media-next"
          class="partnerships-arrow-right">
          &rsaquo;
        </button>
      </div>
    </div>
  </div>
</div>*/

<div id="bottom">
  <div class="page-container">
    <div class="row">
      <div class="col-xs-11 col-md-4">
        <img src="./img/footer-logo.svg" class="footer-logo" alt="Bounties Network Logo">
        <br>
        <br>
        <form
          id="mc-embedded-subscribe-form"
          method="POST"
          action="https://network.us16.list-manage.com/subscribe/post?u=03351ad14a86e9637146ada2a&amp;id=96ba00fd12"
          class="validate"
          target="_blank"
          novalidate>
          <input
            type="hidden"
            name="b_03351ad14a86e9637146ada2a_96ba00fd12"
            value="">
          <input
            id="mce-email"
            name="EMAIL"
            type="email"
            value=""
            placeholder="Your email"
            required>
          <input
          id="mc-embedded-subscribe"
          name="subscribe"
          type="submit"
          value="Sign up for updates">
        </form>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="row">
          <div class="col-xs-5 col-md-3 bottom-link-outer">
            <div class="bottom-link-title">
              COMPANY
            </div>
            <a href="#">About</a>
            <a href="https://medium.com/bounties-network">Blog</a>
            <a href="https://join.slack.com/t/bountiesnetwork/shared_invite/enQtMzA2Mjk3MzAzODQwLTZjN2UxMmU5MWYxZTVmMmM4OGNjZDRiMDgwYTVhOTIwYmQ4MjVlMjNkZjYzOTE4MWI4OTFhOWE4ZTUzN2MyNWY" target="_blank">Community</a>
            <a href="https://new.consensys.net/careers/?gh_jid=1216419" target="_blank">Careers</a>
          </div>
          <div class="col-xs-6 col-md-3 bottom-link-outer">
            <div class="bottom-link-title">
              PRODUCTS
            </div>
            <a href="https://explorer.bounties.network" target="_blank">Bounties Explorer</a>
            <a href="https://staking.network" target="_blank">Delphi arbitration</a>
            <a href="https://github.com/Bounties-Network/BountiesAPI" target="_blank">Bounties API</a>
          </div>
          <div class="col-xs-6 col-md-3 bottom-link-outer">
            <div class="bottom-link-title">
              CONTACT US
            </div>
            <a href="mailto:contact@bounties.network">contact@bounties.network</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./scripts/index.js"></script>

<% if (dev === true) { %>
<script async id="__bs_script__" src="http://127.0.0.1:9924/browser-sync/browser-sync-client.js?v=2.23.6"></script>
<% } %>

</body>
</html>
